<style>
    .p10 {
        padding: 10px;
    }
</style>

<template>
    <div class="container">
        <form class="card p10" @submit.prevent="editUser">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label>Имя пользователя</label>
                        <input v-model="user.name" type="text" class="form-control" placeholder="Введите имя пользователя" required>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label>Email пользователя</label>
                        <input v-model="user.email" type="text" class="form-control" placeholder="Введите Email пользователя" required>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label>Новый пароль пользователя</label>
                        <input v-model="user.password" type="text" class="form-control" placeholder="Введите новый пароль пользователя">
                    </div>
                </div>
                <div class="col-12">
                    <span>Автомобили</span>
                    <select v-model="carsSelected" class="form-control selectpicker" title="Выберите автомобили пользователя" data-live-search="true" multiple>
                        <option v-for="car in cars" :key="car.id" :value="car.id">
                            <span>{{ car.car_number }}</span>
                        </option>
                    </select>
                </div>
                <div class="col-12">
                    <div class="form-check">
                        <input v-model="user.is_admin" type="checkbox" class="form-check-input">
                        <label class="form-check-label">Администратор</label>
                    </div>
                </div>
            </div>
            <input type="submit" class="btn btn-success mt-2" value="Сохранить">
        </form>
    </div>
</template>

<script>
    export default {
        props: ['userJson', 'carsJson'],

        data () {
            let user = JSON.parse(this.userJson);
            return {
                user: user,
                cars: JSON.parse(this.carsJson),
                carsSelected: user.cars.map(car => car.id),
            }
        },

        methods: {
            editUser () {
                let validate = this.validateData();

                if (validate.ok) {
                    axios.put(`/api/admin/users/${this.user.id}`, validate.data)
                        .then(response => {
                            if (response.status === 200) {
                                alert('Данные успешно обновлены');
                            }
                        })
                        .catch(error => {
                            alert('Произошла ошибка. Попробуйте, пожалуйста, еще раз');
                        });
                } else {
                    alert(validate.error);
                }
            },

            validateData: function () {
                let validate = {
                    ok: true,
                    data: {
                        name: this.user.name.trim(),
                        email: this.user.email.trim(),
                        password: this.user.password,
                        is_admin: this.user.is_admin === true ? 1 : 0,
                        cars_selected: this.carsSelected,
                    }
                }

                if (validate.data.name.length < 2) {
                    validate.ok = false;
                    validate.error = 'Имя пользователя не может содержать менее 2 символов';
                } else if (validate.data.email === '') {
                    validate.ok = false;
                    validate.error = 'Введите, пожалуйста, Email пользователя';
                }

                return validate;
            },
        },
    }
</script>
