<template>
    <div>
        <div class="list-group-item">
            <div v-if="user.is_admin">Администратор</div>
            <div>Имя: {{ user.name }}</div>
            <div>Email: {{ user.email }}</div>

            <div v-if="user.cars.length" class="list-group">
                <span>Автомобили:</span>
                <div v-for="car in user.cars" :key="car.id" class="list-group-item">
                    <a :href="`/admin/cars/${car.id}/edit`">{{ car.car_number }}</a>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <a :href="`/admin/users/${user.id}/edit`" class="btn btn-primary">Редактировать</a>
            <a @click="deleteUser" class="btn btn-danger">Удалить</a>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['user'],

        methods: {
            deleteUser () {
                axios.delete(`/api/admin/users/${this.user.id}`)
                    .then(response => {
                        if (response.status === 204) {
                            this.$parent.getResults(this.$parent.users.meta.current_page);
                        }
                    })
                    .catch(error => {
                        let msg = 'Произошла ошибка. Попробуйте, пожалуйста, еще раз';

                        if (error.response.status === 404) {
                            msg = 'Данный пользователь не существует';
                        }

                        alert(msg);
                    });
            },
        },
    }
</script>