<template>
    <div class="container">
        <div v-for="user in users.data" :key="user.id" class="list-group">
            <admin-user-card :user="user"></admin-user-card>
            <br />
        </div>

        <pagination :data="users" @pagination-change-page="getResults"></pagination>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                users: {},
            }
        },

        mounted() {
            this.getResults();
        },

        methods: {
            getResults(page = 1) {
                axios.get(`/api/admin/users?page=${page}`)
                    .then(response => {
                        this.users = response.data;
                    });
            },
        },
    }
</script>
