<template>
    <div>
        <div class="list-group-item">
            <div>Номер автомобиля: {{ car.number }}</div>

            <div v-if="car.parks.length" class="list-group">
                <span>Автопарки:</span>
                <div v-for="park in car.parks" :key="park.id" class="list-group-item">
                    <span>{{ park.name }}</span>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <a :href="`/cars/${car.id}/edit`" class="btn btn-primary">Редактировать</a>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['car'],
    }
</script>