<style>
    .p10 {
        padding: 10px;
    }
</style>

<template>
    <div class="container">
        <form class="card p10" @submit.prevent="createPark">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label>Название автопарка</label>
                        <input v-model="park.name" type="text" class="form-control" placeholder="Введите название автопарка" required>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label>Адрес автопарка</label>
                        <input v-model="park.address" type="text" class="form-control" placeholder="Введите адрес автопарка" required>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label>График работы автопарка</label>
                        <input v-model="park.schedule" type="text" class="form-control" placeholder="Введите график работы автопарка">
                    </div>
                </div>
                <div class="col-12">
                    <span>Автомобили</span>
                    <select v-model="park.cars" class="form-control selectpicker" title="Выберите автомобили" data-live-search="true" multiple>
                        <option v-for="car in cars" :key="car.id" :value="car.id">
                            <span>{{ car.car_number }}</span>
                        </option>
                    </select>
                </div>
            </div>
            <input type="submit" class="btn btn-success mt-2" value="Добавить">
        </form>
    </div>
</template>

<script>
    export default {
        props: ['carsJson'],

        data () {
            return {
                cars: JSON.parse(this.carsJson),
                park: {
                    name: '',
                    address: '',
                    schedule: '',
                    cars: [],
                },
            }
        },

        methods: {
            createPark: function () {
                let validate = this.validateData();

                if (validate.ok) {
                    let formData = this.getFormData(validate.data);

                    axios.post('/api/admin/parks', formData)
                        .then(response => {
                            if (response.status === 201) {
                                this.clearForm();
                            }
                        })
                        .catch(error => {
                            let msg = 'Произошла ошибка. Попробуйте, пожалуйста, еще раз';

                            if (error.response.status === 422) {
                                msg = this.getErrorMessage(error.response.data.errors);
                            }

                            alert(msg);
                        });
                } else {
                    alert(validate.error);
                }
            },

            validateData: function () {
                let validate = {
                    ok: true,
                    data: {
                        name: this.park.name.trim(),
                        address: this.park.address.trim(),
                        schedule: this.park.schedule.trim(),
                        cars_selected: this.park.cars,
                    }
                }

                if (validate.data.name === '') {
                    validate.ok = false;
                    validate.error = 'Введите, пожалуйста, название автопарка';
                } else if (validate.data.address === '') {
                    validate.ok = false;
                    validate.error = 'Введите, пожалуйста, адрес автопарка';
                }

                return validate;
            },

            getFormData (obj) {
                let formData = new FormData;

                Object.keys(obj).forEach(key => {
                    formData.append(key, obj[key])
                });

                return formData;
            },

            clearForm () {
                $('.selectpicker').selectpicker('val', '');
                this.park.name = '';
                this.park.address = '';
                this.park.schedule = '';
                this.cars = [];
            },

            getErrorMessage (data) {
                let msg = '';

                for (let [key, value] of Object.entries(data)) {
                    msg += `${value}\n`;
                }

                return msg;
            },
        },
    }
</script>
