<style>
    .p10 {
        padding: 10px;
    }
</style>

<template>
    <div class="container">
        <form class="card p10" @submit.prevent="editPark">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label>Название автопарка</label>
                        <input v-model="park.name" type="text" class="form-control" placeholder="Введите название автопарка" required>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label>Адрес автопарка</label>
                        <input v-model="park.address" type="text" class="form-control" placeholder="Введите адрес автопарка" required>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label>График работы автопарка</label>
                        <input v-model="park.schedule" type="text" class="form-control" placeholder="Введите график работы автопарка">
                    </div>
                </div>
                <div class="col-12">
                    <span>Автомобили</span>
                    <select v-model="carsSelected" class="form-control selectpicker" title="Выберите автомобиль" data-live-search="true" multiple>
                        <option v-for="car in cars" :key="car.id" :value="car.id">
                            <span>{{ car.car_number }}</span>
                        </option>
                    </select>
                </div>
            </div>
            <input type="submit" class="btn btn-success mt-2" value="Сохранить">
        </form>
    </div>
</template>

<script>
    export default {
        props: ['parkJson', 'carsJson'],

        data () {
            let park = JSON.parse(this.parkJson);
            return {
                park: park,
                cars: JSON.parse(this.carsJson),
                carsSelected: park.cars.map(car => car.id),
            }
        },

        methods: {
            editPark () {
                let validate = this.validateData();
                
                if (validate.ok) {
                    axios.put(`/api/admin/parks/${this.park.id}`, validate.data)
                        .then(response => {
                            if (response.status === 200) {
                                alert('Данные успешно обновлены');
                            }
                        })
                        .catch(error => {
                            alert('Произошла ошибка. Попробуйте, пожалуйста, еще раз');
                        })
                } else {
                    alert(validate.error);
                }
            },

            validateData: function () {
                let validate = {
                    ok: true,
                    data: {
                        name: this.park.name.trim(),
                        address: this.park.address.trim(),
                        schedule: this.park.schedule,
                        cars_selected: this.carsSelected,
                    },
                }
                
                if (validate.data.name === '') {
                    validate.ok = false;
                    validate.error = 'Введите, пожалуйста, название автопарка';
                } else if (validate.data.address === '') {
                    validate.ok = false;
                    validate.error = 'Введите, пожалуйста, адрес автопарка';
                }

                return validate;
            },
        },
    }
</script>
