<template>
    <div>
        <div class="list-group-item">
            <div>Название автопарка: {{ park.name }}</div>
            <div>Адрес автопарка: {{ park.address }}</div>
            <div v-if="park.schedule">График работы автопарка: {{ park.schedule }}</div>

            <div v-if="park.cars.length" class="list-group">
                <span>Автомобили:</span>
                <div v-for="car in park.cars" :key="car.id" class="list-group-item">
                    <a :href="`/admin/cars/${car.id}/edit`">{{ car.car_number }}</a>
                </div>
            </div>

        </div>
        <div class="list-group-item">
            <a :href="`/admin/parks/${park.id}/edit`" class="btn btn-primary">Редактировать</a>
            <a @click="deletePark" class="btn btn-danger">Удалить</a>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['park'],

        methods: {
            deletePark () {
                axios.delete(`/api/admin/parks/${this.park.id}`)
                    .then(response => {
                        if (response.status === 204) {
                            this.$parent.getResults(this.$parent.parks.meta.current_page);
                        }
                    })
                    .catch(error => {
                        let msg = 'Произошла ошибка. Попробуйте, пожалуйста, еще раз';

                        if (error.response.status === 404) {
                            msg = 'Данный автопарк не существует';
                        }

                        alert(msg);
                    });
            },
        },
    }
</script>